body {
	background-image: url("../images/grassy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*div[class*="col-"] {
	border: red 1px solid;
}*/


/*.nodisplay{

	display: none;
}*/
.hero {

}


#knight {
	padding-top: 130px;
}

#priest {


}

#teamCamp {
	margin-top: 100px;
	height: 150px;

}

#knightImage {
	width: 100%;
	margin-top: 55%;
}

#mageImage {
	width: 100%;
	margin-top: 25%;
}

#priestImage {
	width: 100%;
}

#monkImage {
	width: 100%;
	margin-top: 40%
}