body {
	background-image: url("../images/field.png");
	background-size: cover;
	background-repeat: no-repeat;
}

div[class*="col-"] {
	border: red 1px solid;
}



.hero {
 width: 100%;
}

.heroPic {
	width: 100%;
}

#knight {

}

#teamCamp {

}

#knightImage {
	width: 100%;
	margin-top: 70%;
}

#mageImage {
	width: 100%;
	margin-top: 15%;
}

#priestImage {
	width: 100%;
}

#monkImage {
	width: 100%;
	margin-top: 50%
}